body {
    background-color: #EBE7E6;
}

.btn btn-outline {
    background-color: white;
}

.display-5 {
    font-size: 50px;
}

form button,
.submit {
    background-color: #E56E00 !important;
    border: none !important;
}